*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
} 
html{
    font-size:62.5%;
}

/*---------------------------header--------------------------*/
.header-navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    padding:2rem;
    background-color: transparent;
    overflow: hidden;
}
.header-navigation h1{
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing:1px;
}

.nav-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

a{
    text-decoration: none;
    font-size: 1.8rem;
    color:black;
}
a:hover{
    color: blueviolet;
    cursor: pointer;
}
/*----------------------Heros styling------------------------*/
.heros-conatiner{
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url(./images/hero.webp);

    height: 80vh;
    background-position:bottom;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
}

.heros-conatiner h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.heros-conatiner p{
    margin: 2rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: justify;

}
/*----------------------------------------about us-------------------------------------------*/