body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #00ffaa;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

/* Navigation links container */
header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation links styling */
header a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Hover effect for navigation links */
header a:hover {
    background-color: #b3005a;
    color: #fff;
}

/* Main content styling */
main {
    padding: 20px;
    background-color: #f8f9fa;
    max-width: 1200px;
    margin: auto;
}

/* Section styling */
section {
    margin-bottom: 20px;
}

section h1, section h2 {
    color: #333;
}

section p {
    line-height: 1.6;
}

.heading {
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
}

.about {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.services h2 {
    color: #333;
    margin-bottom: 15px;
}

.services ul {
    list-style: none; /* Remove default bullets */
    padding: 0;
}

.services ul li {
    position: relative;
    padding-left: 30px; /* Space for the custom bullet */
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.services ul li::before {
    content: '\2192'; /* Right arrow symbol */
    position: absolute;
    left: 0;
    color: #00ffaa;
    font-size: 20px;
    line-height: 1.6;
}


.contact {
    padding: 20px;
    background-color: #adabab;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input, form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #00ffaa;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #127ba5;
}

/* Footer styling */
footer {
    background-color: #082e22;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}